---
import { imageUrl } from '../lib/sanity';

const { essay } = Astro.props;
const img = imageUrl(essay.image, 900);
const href = `/creative/${essay.slug}/`;
---
<a class="snap" href={href}>
  <div class="img" style={img ? `background-image:url('${img}')` : undefined}></div>
  <div class="snap-body">
    <div class="meta"><span class="cat">{essay.category}</span><span>{essay.period}</span></div>
    <h4 class="cap">{essay.title}</h4>
    <p class="excerpt">{essay.excerpt}</p>
    <span class="readlink">Read →</span>
  </div>
</a>
